*,
::before,
::after {
  margin: 0;
  padding: 0;
}

:root {
  --text-primary-color: #212121;
  --text-secondary-color: #757575;
  --text-secondary-alternative-color: #ffffff99;
  --text-tertiary-color: #fff;
  --background-primary-color: #fff;
  --background-secondary-color: #2f303a;
  --background-tertiary-color: #f5f4fa;
  --button-primary-color: #2196f3;
  --button-secondary-color: #f5f4fa;
  --brand-primary-color: #2196f3;
  --brand-dark-color: #000;
  --brand-light-color: #fff;
  --accent-primary-color: #2196f3;
  --accent-secondary-color: #8cc3f0;
  --icon-client-list-color: #afb1b8;
  --icon-primary-color: #757575;
  --icon-secondary-color: #afb1b8;
  --icon-tertiary-color: #212121;
  --icon-accent-color: #2196f3;
  --icon-check-color: #fff;
  --social-icon-primary: #afb1b8;
  --social-icon-secondary: #fff;
  --social-icon-bcg-primary: #fff;
  --social-icon-bcg-secondary: #ffffff1a;
  --social-icon-accent-primary: #fff;
  --social-icon-accent-bcg-primary: #2196f3;
  --text-placeholder-primary-color: #ffffff99;
  --label-background-primary-color: #2f303acc;
  --backdrop: #00000033;
  --transition-time-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-primary-color);
  background-color: var(--background-primary-color);
  /* width: 1600px; */
  /* background-color: red; */ /* testing */
  /* margin: 0;
  padding: 0; */
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

/*do usunięcia*/
.link-no-underline {
  text-decoration: none;
}

/*do usunięcia*/
.li-no-dots {
  list-style-type: none;
}

/* Start-Identical data for Section in main*/
.section {
  padding: 94px 0;
}

.section--position {
  padding-bottom: 0;
}

/*title sections in main - h2*/
.section__heading {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
/* End-Identical data for Section in main*/

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
}

/* header-navigation-menu */

.header-line {
  border-bottom: 1px solid #ececec;
}

.header-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 25px;
}

/* block-class logo for header and footer */
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* admixture for margin-logo-right */
.header-menu__logo {
  margin-right: 93px;
}

/* for header and footer Web-text*/
.logo__accent-text {
  color: var(--brand-primary-color);
}

.logo__dark-theme {
  color: var(--brand-dark-color);
}

/* menu-nav links */
.nav-page {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 46px;
}

.nav-page__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-primary-color);
  text-decoration: none;
  transition: color var(--transition-time-animation);
}

.nav-page__link:hover,
.nav-page__link:focus {
  color: var(--accent-primary-color);
}

/* Begining - Underlining a link to the current page */
/* .backlight-agency,
.backlight-portfolio */
.nav-page__link--position {
  position: relative;
}

/* Agency and Portfolio*/

/* .agency main-page::after  */
.nav-page__link--position::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-primary-color);
  border-radius: 2px;
  position: absolute;
  bottom: -33px; /* 28px + 4px +/- 1px  --or--  top: 47px; */ /* 14px + 28px + 4px */
}

/* .backlight-agency:visited, */
/* .backlight-portfolio:visited  */
.nav-page__link--backlight:visited {
  color: var(--accent-primary-color);
}

/* Portfolio */

/* .backlight-portfolio::after
.menu__link--backlight::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-primary-color);
  border-radius: 2px;
  position: absolute;
  bottom: -33px; /* 28px + 4px +/- 1px  --or-- top: 47px; */ /* 14px + 28px + 4px
} 
*/

/* End - Underlining a link to the current page */

/* contacts - mail and phone */
/* .contacts-menu {
  display: flex;
  margin-left: auto; */
/* } */

.contact-header {
  display: flex;
  align-items: center;
  margin-left: auto;
  list-style-type: none;
  gap: 30px;
}

.contact-header__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-secondary-color);
  transition: color var(--transition-time-animation);
}

.contact-header__link:hover,
.contact-header__link:focus {
  color: var(--accent-primary-color);
}

.contact-header__icon {
  fill: currentColor;
  margin-right: 10px;
}

/* main container */

/* .main-header */

/* .main-header-bcg  */
.main-overlay-img {
  background-color: var(--background-secondary-color);
  display: block;
  background-image: linear-gradient(
      #2f303a66,
      #2f303a66 /* rgba(47, 48, 58, 0.4), */ /* rgba(47, 48, 58, 0.4) */
    ),
    url(../images/mainheaderbcg.jpg);
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.main-post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 200px;
}

/* .header-one */
.main-post__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-tertiary-color);
}

.main-post__title--position {
  width: 696px;
  margin-bottom: 30px;
}

.main-post__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  padding: 10px 41px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-tertiary-color);
  background-color: var(--button-primary-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color var(--transition-time-animation),
    box-shadow var(--transition-time-animation);
}

.main-post__btn:hover,
.main-post__btn:focus {
  background-color: var(--accent-secondary-color);
  box-shadow: 0px 4px 4px #00000026; /* rgba(0, 0, 0, 0.15) */
}

/* Portfolio */

.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.button-portfolio {
  display: block;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--text-primary-color);
  background-color: var(--button-secondary-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-primary-color);
  color: var(--text-tertiary-color);
  box-shadow: 0px 3px 1px #0000001a, 0px 1px 2px #00000014,
    0px 2px 2px #0000001f; /* 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);*/
}

.portfolio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project {
  display: block;
  flex-basis: calc((100% - 60px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project:hover {
  box-shadow: 0px 1px 1px #0000001f, 0px 4px 4px #0000000f,
    1px 4px 6px #00000029; /* 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16) */
  cursor: pointer;
}

/* overlay blue card - Portfolio */

.hover-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--text-tertiary-color);
  background-color: #2196f3e6;
  padding: 49px 45px 49px 24px;
}

.project:hover .overlay {
  transform: translateY(0);
}

/* overlay blue card - end */

/*Strenghts section */

.strenghts-wrapper {
  display: flex;
  list-style-type: none;
  gap: 30px;
  /* margin-top: 94px; */
  /* padding-top: 94px; */
}

/* .strenght-card {
  flex-basis: calc((100% - 60px) / 3);
}
 */
.strenght-card__icon {
  padding: 25px 100px;
  background-color: var(--background-tertiary-color);
  border-radius: 4px;
}

/* .header-three */
.strenght__heading {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.strenght__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-secondary-color);
}

/* What we do - Section */

.what-we-do {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.what-we-do__item-position {
  position: relative;
}

.what-we-do__img {
  display: block;
}

.what-we-do__label {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--text-tertiary-color);
  text-transform: uppercase;
  text-align: center;
  padding: 27px 0;
  background-color: var(--label-background-primary-color);
}

/*do zmiany przy zdjęciach */

/* .photo-block {
  display: block;
}
 */

/* Section TEAM - start */

/* background modifier to section team */
.section--bcg {
  background-color: var(--background-tertiary-color);
}

.team-cards {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.team-card {
  background-color: var(--background-primary-color);
  box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024,
    0px 2px 1px #00000033; /* 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2) */
  border-radius: 0px 0px 4px 4px;
}

.team-card__photo {
  display: block;
}

.team-card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 30px auto 10px auto;
}

.team-card__job {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-secondary-color);
}

/* pORTFOLIO HEADING */
.header-four-portfolio {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
}

/* Portfolio */
.picture-text-portfolio {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-secondary-color);
}

/*Portfolio - frame under picture without bottom-top*/
.frame {
  padding: 20px 24px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

/* main TEAM - social-eicons in Our Team Cards */

/* .eicons-wrapper */
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 10px;
}

.social-list--position {
  margin: 16px 32px 30px 32px;
}

/* common for team-card and footer-center */
/* .eicon-bcg */
.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--social-icon-bcg-primary);
  fill: var(--social-icon-primary);
  border-radius: 50%;
  transition: background-color var(--transition-time-animation),
    fill var(--transition-time-animation);
}

/*Moddifier for footer-center */
.social-list__link--footer {
  background-color: var(--social-icon-bcg-secondary);
  fill: var(--social-icon-secondary);
}

/* common for team-card and footer-center*/
.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--social-icon-accent-bcg-primary);
  fill: var(--social-icon-accent-primary);
}

/* main - icons in Our client-lists */

.client-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 30px;
}

.client-list__link {
  display: flex;
  border: 1px solid var(--icon-secondary-color);
  border-radius: 4px;
  fill: var(--icon-secondary-color);
  transition: border var(--transition-time-animation),
    fill var(--transition-time-animation);
}

.client-list__link:hover,
.client-list__link:focus {
  border: 1px solid var(--icon-accent-color);
  border-radius: 4px;
  fill: var(--icon-accent-color);
}

/* footer container */

.footer {
  background-color: var(--background-secondary-color);
  /* padding-top: 60px; */
  /* padding-bottom: 60px; */
  padding: 60px 0;
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
}

/* Footer - left side - group */

.footer-left {
  margin-right: 70px;
  /* padding-top: 60px; */
  /* padding-bottom: 60px; */
}

/* admixture for margin-bottom-logo*/
.footer-left__logo {
  margin-bottom: 20px;
}

/* .footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
} */

/* .logo-blue-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-primary-color);
} */

.logo__light-theme {
  color: var(--brand-light-color);
  /* font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em; */
}

.footer-address__street {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--text-tertiary-color);
}

.footer-address__contacts {
  list-style-type: none;
}

.footer-address__item {
  margin-top: 9px;
}

.footer-address__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-secondary-alternative-color);
  text-decoration: none;
  transition: color var(--transition-time-animation);
}

.footer-address__link:hover,
.footer-address__link:focus {
  color: var(--accent-primary-color);
}

/* Portfolio - e-mail decoration underline */

.text-decor {
  text-decoration-line: underline;
}

/* footer center social-eicons group */

.footer-center {
  margin-right: auto;
  /* padding-top: 72px; */
  /* margin-left: 70px; */
}

.footer-center__heading {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-tertiary-color);
  margin-bottom: 20px;
}

/* .footer-eicons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
 */
/* .footer-eicon-bcg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--social-icon-bcg-secondary);
  fill: var(--social-icon-secondary);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .footer-eicon-bcg:hover,
.footer-eicon-bcg:focus {
  background-color: var(--social-icon-accent-bcg-primary);
} */

/* footer right side group - newsletter */

.footer-right {
  display: flex;
  /* flex-direction: column; */
  /* margin-left: 78px; */
  /* width: 570px; */
}

/* email-input  newsletter labbel */

.newsletter-signup {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
}

.newsletter-signup__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-tertiary-color);
}

.newsletter-signup__items {
  display: inline-flex;
  gap: 12px;
}

.newsletter-signup__input {
  width: 358px;
  padding: 14px 16px;
  border: 1px solid #ffffff4d;
  filter: drop-shadow(0px 4px 4px #00000026);
  border-radius: 4px;
  outline: 0;
  background-color: var(--background-secondary-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--text-placeholder-primary-color);
  transition: border-color var(--transition-time-animation);
}

.newsletter-signup__input:focus {
  border-color: var(--accent-primary-color);
}

/* signup button */

.newsletter-signup__btn {
  display: inline-flex;
  width: 200px;
  border: 0;
  border-radius: 4px;
  background-color: var(--button-primary-color);
  box-shadow: 0px 4px 4px #00000026;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-tertiary-color);
  overflow: hidden;
  outline: 0;
  cursor: pointer;
}

.newsletter-signup__btn-text {
  display: inline-flex;
  align-items: center;
  padding: 10px 24px 10px 42px;
  outline: 0;
  border: 0;
}

.newsletter-signup__btn-icon {
  display: inline-flex;
  align-items: center;
  padding: 13px 27px 13px 0;
  fill: var(--background-primary-color);
  outline: 0;
  border: 0;
}

/* Modal Window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop);
  transition: transform var(--transition-time-animation),
    opacity var(--transition-time-animation),
    visibility var(--transition-time-animation);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(2.5);
}

.modal {
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--background-primary-color);
  box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024,
    0px 2px 1px #00000033; /* 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);  */
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: var(--background-primary-color);
  border: 1px solid #0000001a;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
}

/* modal form content */

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.client-list-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-data-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  border: 0;
  outline: 0;
}

.label-title {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-secondary-color);
}

.input-data-frame {
  width: 100%;
  height: 40px;
  border: 1px solid #21212133;
  border-radius: 4px;
  padding-left: 42px;
  background-color: inherit;
  outline: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-data-frame:focus ~ .icon-person,
.input-data-frame:focus ~ .icon-phone,
.input-data-frame:focus ~ .icon-email,
.input-data-frame:focus {
  border-color: var(--accent-primary-color);
  fill: var(--accent-primary-color);
}

.icon-person,
.icon-phone,
.icon-email {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: var(--icon-tertiary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-comment-frame {
  width: 100%;
  height: 120px;
  border: 1px solid #21212133;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #75757580;
  background-color: inherit;
  outline: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-comment-frame:focus {
  border-color: var(--accent-primary-color);
}

.label-statement {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.input-statement {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  padding-left: 14px;
}

.check-icon-place {
  width: 16px;
  height: 15px;
}

.input-statement:not(:checked) + span .check-icon {
  fill: transparent;
  border: 1px solid var(--icon-tertiary-color);
  border-radius: 2px;
  cursor: pointer;
}

.input-statement:checked + span .check-icon {
  fill: var(--icon-check-color);
  background-color: var(--icon-accent-color);
  border-radius: 2px;
  cursor: pointer;
}

.statement-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-secondary-color);
  margin-left: 8px;
}

.statement-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-primary-color);
}

.send-data-button {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 10px 76px;
  background-color: var(--button-primary-color);
  border: 0;
  outline: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px #00000026;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--text-tertiary-color);
  cursor: pointer;
}
